<!DOCTYPE html>
<html>
<head data-th-replace="parts/head :: cabecera(~{::title}, _)">
	<meta charset="UTF-8" />
	<title>Nosotros</title>
</head>
<body >

	<nav data-th-replace="parts/menu :: menu"></nav>
	<div data-th-replace="parts/scripts :: scripts" ></div>
	<br><br>
	<div data-th-replace="parts/scripts :: scripts" ></div>
	<div class="container-fluid">
		<h2>La Empresa</h2>
		<p>Esta es una empresa familiar, fundada por don Juan Adriazola Elgueta, en Santiago de Chile, durante el año 1985. La actividad principal de nuestra empresa es la importación y distribución mayorista de repuestos automotrices para vehículos de trabajo livianos y de pasajeros. También ofrecemos ventas al detalle en nuestras cinco tiendas de Santiago y Concepción. Desde sus comienzos, la compañía ha comercializado repuestos para vehículos de marcas francesas, como Peugeot, Renault y Citroën, donde nuestra experiencia y conocimientos específicos nos han hecho líderes en el mercado. Además, hace algunos años, ampliamos nuestra oferta, incorporando repuestos para las marcas Chevrolet y Opel.
			Contamos con nuestro propio Centro de Distribución, equipado con moderna tecnología y personal altamente calificado, lo que nos permite atender a nuestros clientes especialistas a lo largo de todo Chile. Mantenemos vínculos comerciales con proveedores en más de 15 países, a fin de garantizar una variada oferta de repuestos originales y alternativos.</p>
		<p>Esta tienda física y virtual, que tiene sucursales a lo largo del país, ofrece repuestos, herramientas y otros productos. En su plataforma virtual te permite buscar las piezas que necesitas ingresando el número de patente de tu auto o la marca, modelo y año. 
			Con una oferta de repuestos para 42 marcas de vehículos, esta empresa tiene despachos a todo Chile, con una amplia variedad de piezas, como correas, bujías, amortiguadores, repuestos del motor, faros, entre muchos otros.</p>
		
		<div data-th-replace="parts/footer :: footer" ></div>
	</div>
	<div data-th-replace="parts/footer :: footer" ></div>
	
</body>
</html>